body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  a:hover {
    background-color: #ddd;
    color: black;
  }
  a.active {
    background-color: #04aa6d;
    color: white;
  }
}

.nav-header {
  .header {
    background-color: #20232a !important;
  }

  .brand-name {
    color: #61dafb;
  }

  a,
  .nav-link {
    color: white;

    &:hover {
      color: #61dafb;
    }
  }

  .nav-link {
    &.active,
    &.show {
      color: #61dafb !important;
      border-bottom: 2px solid;
    }
  }

  .dropdown-item {
    color: #212529;
  }

  .navbar-toggler {
    background-color: #61dafb !important;
  }
}
