.modal-user {
  .content-body {
    .red {
      color: red;
    }
  }
}

.manage-users-container {
  i {
    padding-left: 7px;
  }

  .actions {
    .refresh {
      margin-right: 10px;
    }
  }
}
